.PdfHighlighter {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.PdfHighlighter__highlight-layer {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
}

.PdfHighlighter__tip-container {
  z-index: 6;
  position: absolute;
}

.PdfHighlighter--disable-selection {
  user-select: none;
  pointer-events: none;
}

.AreaHighlight {
  z-index: 3;
}
